
<div class ="Conainter">
    <div class="ConainterOne">
        <div class="one">
            <h3>Get Insights that Help your Business Grow</h3>
        </div>
        <div class="two">
            <p>Discover the benifts of analyticsand make better decision regarding revenue,
                customer,experience,and overall efficiency</p>

        </div>
        <div class="three">
           <div class="threeOne">
               <h3> 10k+</h3>
               <p> COMPANIES</p>
           </div>
           <div class="threeTwo">
               <h3>
                   314
               </h3>
               <p>TEMPLATES</p>
            </div>
            <div class="threeThree">
               <h3>12M+</h3>
               <p>QUERIES</p>
            </div>
        </div>
   </div>
   <div class="ConatinerTwo">

      <img src="https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_960_720.jpg" alt="work" width="500" height="333">
   </div>








</div>